// All the varibales are written below:

$primary-blue:hsl(228, 39%, 23%);
$primary-red:hsl(12, 88%, 59%);

// Neutral colors
$neutral-gray: hsl(227, 12%, 61%);
$neutral-blue: hsl(233, 12%, 13%);
$neutral-red: hsl(13, 100%, 96%);
$neutral-lighthray: hsl(0, 0%, 98%);

// typo:
$font-fam:"Be Vietnam Pro", sans-serif;
